html,body{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
.red{
  color: red !important;
}
.blue{
  color: blue !important;
}
a,a:visited{
  color: inherit;
  text-decoration: none;
}
.no-margin{
  margin: 0px;
}
.btn{
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 12px;
}
.be-red{
  background-color: #730E15;
}
.white{
  color:white;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.large-padding{
  padding: 8px 5px;
}
.no-list{
  list-style:none;
}
#logo{
  font-size: 1.2em;
}
.field, .top-space, .actions{
  margin-top: 1em;
}
.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}
.relative{
  position: relative;
}
.absolute {
  position: absolute;
}
.article-height{
  height:150px;
}
.background-cover{
  background-position: center;
  background-size: cover;
}
.be-big{
  font-size: 2em;
}
.be-small{
  font-size: 12px;
}
.bottom-space{
  margin-bottom: 2em;
}
.text-right{
  text-align: right;
}
.underline{
  text-decoration:underline ;
}
.text-justify{
  text-align: justify;
}
.gray{
  color:gray;
}
.width-100{
  width: 100%;
}
.hidden{
  display: none !important;
}
